@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }
  body {
    user-select: none;
  }
}

@theme {
  --font-host: "Host Grotesk", sans-serif;
  --text-grey: #383838;
  --text-title: 7.5625rem;
  --text-small-title: 5.0625rem;
  --text-big-base: 2.25rem;
  --text-base: 1.5rem;
}

@media (max-height: 700px) {
  .custom-gap {
    gap: 5vh;
  }
}

.img-text-waf {
  float: left;
  shape-outside: url("../src/assets/img/waffle.webp");
  shape-margin: 1rem;
  width: 30rem;
  margin-left: -20rem;
  margin-top: 1rem;
}

.img-text-plu {
  float: right;
  shape-outside: url("../src/assets/img/plushie.webp");
  shape-margin: 1rem;
  width: 40rem;
  margin-right: -20rem;
}

.img-text-bat {
  float: left;
  shape-outside: url("../src/assets/img/bat.webp");
  shape-margin: 3rem;
  width: 50rem;
  margin-left: -20rem;
  margin-top: -5rem;
}

.img-text-kni {
  float: right;
  shape-outside: url("../src/assets/img/knife.webp");
  shape-margin: 4rem;
  width: 40rem;
  margin-right: -20rem;
}
